/*******************SPLASH SCREEN**********************/
#splash{
    background-color: white;
    bottom:0;
    height: 100vh;
    left:0;
    position:absolute;
    top:0;
    width:100vw;
    z-index: 3;
}

.logo {
    background-image: url(../assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10rem;
    position: absolute;
    top: 15rem;
    width: 20rem;    
}

.load{
    left: 40%;
    position: absolute;
    top: 27rem;
    width: 20%;
    
}

/*******************HERO**********************/
/*IMAGEN DE BACKGROUND*/
#hero{
    background-image: url(../assets/images/make-up-b&w-middle.png);
    background-position:center;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
    z-index: 0;
}


/*CONTENEDOR DE OPCIONES DE REGISTRO*/
.container{
    background-color: rgba(255, 255, 255, 0.37);
    margin-top: 2rem;
    padding: 1rem 0.5rem;
}

.text-list{
    background-color: rgba(128, 128, 128, 0.55);
    font-size: 90%;
    font-weight: bold;
    margin: 0 -0.3rem 0 0.3rem;
    padding: 0.3rem;
    width: 100%;
}

.collapsible-body{
    padding: 0;
}

.form{
    margin-bottom: 0;
}

.box-form{
    background-color: rgba(250, 249, 246, 0.65);
    color: black;
}

.google-box{
    display: inline-block;
    margin-top: 1rem;
    padding: 0;
}

.google-logo{
    font-size: 60%;
    margin-bottom: 1.5rem;
    text-align: center;
}








